include pyir/*
include pyir/data/*
include pyir/data/bin/*
include pyir/data/crowelab_data/*
include pyir/data/crowelab_data/prot/*
include pyir/data/crowelab_data/prot/human/*
include pyir/data/germlines/aux_data/*
include pyir/data/germlines/internal_data/*/*
